.goonbot {
  background-color: #000000;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.larp {
  font-family: Courier New, monospace;
  color: linear-gradient(to right, #139135, lightgreen);
  font-size: 45px;
}
