body {
  background-color: #000000;
  font-family: Courier New;
}
.heading {
  background-color: #139135;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 170px;
  display: grid;
  place-items: center;
}
.ggh {
  display:grid;
  place-items: center;
  width: 600px
  height: 650PX;
}
.Ocont {
  color: #ffffff;
}
.window {
  background-image: url("windowimg.png");
  background-color: #b0abab;
  width: 250px;
  height: 150px;
  border: 2px solid #ffffff;
}
.redblock {
  background-color: red;
  height: 45px;
  width: 35px;
}
