body {
  background-color: #000000;
  font-family: Courier New;
}
.heading {
  background-color: #139135;
  display: inline-block;
  width: 100vw;
  height: 170px;
  display: grid;
  place-items: center;
}
.ggh {
  display:grid;
  place-items: center;
  width: 600px
  height: 650PX;
}
.Ocont {
  color: #ffffff;
}
